@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }
h1{

font-family: 'Oswald', sans-serif;
}

p{
    font-family: 'Cabin', sans-serif;
}
body{
    background-color: #346B7C;
    margin:0;
    padding:0;
    
}
body {
    margin: 0;
    padding: 0;
}

footer{
    background-color: white;
    text-align: center;
}

#cards{
    background-color: white;

}
.hike {
        width: 100%;
        height: auto;
        text-align: center;
      }
.fish{
    font-size: 2em;}
h1{
    text-align: center;
}
.lead{
    text-align: center;
}

.shoe{ text-align: center;}
.foot{text-align: center;}
.dora{text-align: left;
    font-family: 'Oswald', sans-serif;}
